/= MAIN TEMPLATE FOR THE NARMS WEB APPLICATION

!!!
%html
  %head
    %title NARMS
    = stylesheet_link_tag "/app/css/bootstrap.min.css"
    = stylesheet_link_tag "#{current_theme[:url]}", :id => 'main-theme'
    = yield_content :css

  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to '/base', :class => 'navbar-brand' do
            NARMS
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %ul.nav.navbar-nav
            /= USE NAVBAR_HELPER TO CREATE THE NAVBAR TABS
            - visible_tabs.each do |k, v|
              %li
                = link_to v do
                  = k
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %span.glyphicon.glyphicon-tint{"aria-hidden" => "true"}
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  - available_themes.each do |themeName, themeUrl|
                    %li{:class => "#{themeName == current_theme[:name] ? 'active':''}"}
                      %a{:href => "#", :class => "theme-item", "data-theme-url" => "#{themeUrl}", "data-theme-name" => "#{themeName}"}
                        = themeName
              %li.dropdown
                %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  %span.glyphicon.glyphicon-user{"aria-hidden" => "true"}
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li.list-group-item
                    = current_user.email
                  %li.divider
                  %li
                    =button_to :logout, url(:login, :index), :method => :delete, :class => 'navbar-nav-form text-center' do
                      Logout

    .container
      = yield_content :container

    = javascript_include_tag '/app/js/jquery-2.2.0.min.js'
    = javascript_include_tag '/app/js/bootstrap.min.js'
    = javascript_include_tag '/app/js/theme-selector.js'
    = yield_content :javascript
