= content_for :css do
  = stylesheet_link_tag "/app/css/bootstrap-datetimepicker.min.css"

= content_for :container do
  %h1.text-capitalize Log events:
  .col-lg-12.page-header
    = form_tag "/workers/#{@worker.id}/log_events", :method =>'get', :class => 'display form-inline' do
      .form-group
        %input#start-datetime.form-control{:placeholder => "Start date", :type => "text", :name => 'start', :value => params[:start]}/
        %input#end-datetime.form-control{:placeholder => "End date", :type => "text", :name => 'end', :value => params[:end]}
      %button#show-slots-btn.btn.btn-info.bottom{:type => "submit"} Show
  .col-lg-12
    %table.table.table-striped.table-hover
      %thead
        %tr
          %td.success.text-center{:colspan => "7"}
            = @facility.name
        %tr
          %th #
          %th Time
          %th Facility
          %th Role
          %th Responsibility
          %th Operational Status
          %th Airspace Segments
      %tbody
        - @log_events.each do |log_event|
          %tr
            %td
              = log_event.id
            %td
              = log_event.happened_at
            %td
              = log_event.worker_profile.facility.name
            %td
              = log_event.worker_role
            %td
              = log_event.worker_responsability
            %td
              = log_event.operational_status
            %td Er-1, Er-2 (Not done yet)

= content_for :javascript do
  = javascript_include_tag '/app/js/bootstrap-datetimepicker.min.js'
  = javascript_include_tag '/app/js/log-event-datetime.js'
