= content_for :container do
  %h1.text-capitalize
    = "Shift Team # #{@shift.id}"
  / Tabs for Shift Details and Shift Schedule
  %ul.nav.nav-tabs
    %li.active
      %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#schedule-details"} Shift schedule
    %li
      %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#shift-logs"} Shift logs
    %li
      %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#shift-details"} Shift details
  #myTabContent.tab-content
    / Shift schedule tab
    #schedule-details.tab-pane.fade.active.in
      %h2.text-danger This is just dummy data.
      .col-lg-12.page-header
        %form#filter-slots-log-form.display.form-inline
          .form-group
            %input#start-date-logs.form-control{:placeholder => "Start date", :type => "date"}/
            %input#end-date-logs.form-control{:placeholder => "End date", :type => "date"}
          %button#show-slots-logs-btn.btn.btn-info.bottom{:type => "submit"} Show
      .col-lg-12
        %table.table.table-striped.table-hover
          %thead
            %tr
              %td.success.text-center{:colspan => "7"}
                = @shift.facility.name
            %tr
              %th #
              %th Planned
              %th ER-1
              %th ER-2
              %th Released
              %th ER-3
              %th ER-4
          %tbody
            %tr
              %td 1
              %td 9:30
              %td Joe
              %td Ann
              %td Jim
              %td Mike
              %td Levy
    / Shift logs
    #shift-logs.tab-pane.fade
      %h2.text-danger This is just dummy data.
      .col-lg-12.page-header
        %form#filter-slots-form.display.form-inline
          .form-group
            %input#start-date.form-control{:placeholder => "Start date", :type => "date"}/
            %input#end-date.form-control{:placeholder => "End date", :type => "date"}
          %button#show-slots-btn.btn.btn-info.bottom{:type => "submit"} Show
      .col-lg-12
        %table.table.table-striped.table-hover
          %thead
            %tr
              %td.success.text-center{:colspan => "7"}
                @shift.facility.name
            %tr
              %th #
              %th Time
              %th Name
              %th Role
              %th Responsibility
              %th Operational Status
              %th Airspace Segments
          %tbody
            %tr
              %td 1
              %td 2015-10-01 9:30
              %td John
              %td Procedural Enroute
              %td Tactical
              %td Multi-controller
              %td Er-1, Er-2, Er-3

    / Shift details tab
    #shift-details.tab-pane.fade
      .col-lg-12.page-header
        %button#show-form-btn.btn.btn-default Add ATCO
        %form#add-atco-form.form-inline.display
          .form-group
            %select#atco-select.form-control
              - @shift.facility.worker_profiles.each do |wp|
                %option{:value => "#{wp.pub_id}"}
                  = wp.first_name + ' ' + wp.name
          .form-group
            %button#add-atco.btn.btn-primary{:type => "submit"} Add
            %button#hide-form-btn.btn.btn-info{:type => "submit"} Cancel
      - @workers.each do |worker|
        .col-lg-6
          .panel.panel-success
            .panel-heading
              %button.close{"data-dismiss" => "alert", :type => "button"}
                %span.glyphicon.glyphicon-remove-circle
              %h3.panel-title ATCO:
            .panel-body
              .row
                %span.col-lg-6.text-uppercase Public ID:
                %span.col-lg-6
                  = worker.pub_id
              .row
                %span.col-lg-6.text-uppercase First name:
                %span.col-lg-6
                  = worker.first_name
              .row
                %span.col-lg-6.text-uppercase Last name:
                %span.col-lg-6
                  = worker.name
              .row
                %span.col-lg-6.text-uppercase Date of birth:
                %span.col-lg-6
                  = worker.date_of_birth ? worker.date_of_birth.strftime('%Y-%m-%d') : "Unspecified"
              .row
                %span.col-lg-6.text-uppercase Facility:
                %span.col-lg-6
                  = @shift.facility.name

= content_for :javascript do
  = javascript_include_tag '/app/js/view-shift.js'
