/ This view present the schedules for all worker profiles
/ 
  Required Parameters:
  * @schedule  "Schedules::Worker" It contains the schedule for the current week
  * @log_events Array("LogEvent")   It contains all the log events for the current week for this worker_profile

= content_for :breadcrumb do
  %ol.breadcrumb
    %li
      = link_to "/" do
        = "Home"
    %li
      = link_to "/worker_profiles" do
        = "Working Places"
    %li
      = link_to "/worker_profiles/#{@schedule.worker_profile.id}/schedules" do
        = @schedule.worker_profile.facility.name
    %li.active
      = "#{@schedule.begin_at.strftime("%-d/%-m")} - #{@schedule.end_at.strftime("%-d/%-m")}"

= content_for :container do

  //%h1 Detailed Schedule
  //%span Not implemented yet
  - if @current_schedules == nil || @current_schedules.size == 0
    .row
      .alert.alert-info You have been assigned to no facility this week.
  - else
    = partial "/schedules/delivered_schedule.haml", :locals => { schedules: @current_schedules, start_at: Date.today.beginning_of_week.to_time }